@import "tailwindcss";

body {
  background-color: #0f172a;
  /* Slate 900 */
  color: white;
  font-family: 'Inter', sans-serif;
}

.glass-panel {
  background-color: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid #334155;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}